<style type="text/css" media="screen">
  h3{        
    font-size:18px;
    text-align:center;
    margin:10px;     
    padding-bottom:10px;
    border-bottom:1px solid #eee;
  }
  ul.tip{margin:10px;}
  ul.tip li{
    padding:5px 10px;
  }      
  p{
    line-height:150%;
  }
</style>
<h3>手机预定</h3>          
要使用手机直接，请按以下步骤操作。如果已绑定可跳过
<ul class='tip'>
	<li>请先安装<%=link_to '手机客户端','http://www.hesine.com/webmail/faq_down.php',:target => '_blank'%>,如果已安装请跳过</li>
	<li>输入手机号码,按系统提示操作</li>
</ul>  
<div id='notice_msg' class='f_notice'></div>
<div id="error_msg" class='f_error'></div>
<% remote_form_for([@vendor,@mobile_user],:url => create_mobile_users_path,:html => { :onsubmit => "send_verify($('#phone_number').val())"}  ) do |f| -%>
	<p><%= label_tag '手机号码' %><br/>  
	<%= f.text_field :mobile,:id => 'phone_number' %> </p>
	<%= hidden_field_tag :vendor_id, @vendor %>
	<p><%= submit_tag '下一步' %></p>  

               
<script type="text/javascript" charset="utf-8">
	function send_verify(mobile) { 
	  var reg0=/^13\d{5,9}$/;   //130--139。至少7位
	  var reg1=/^153\d{8}$/;  //联通153。至少7位
	  var reg2=/^159\d{8}$/;  //移动159。至少7位
	  var reg3=/^158\d{8}$/;
	  var reg4=/^150\d{8}$/;
	  var my=false;
	  if (reg0.test(mobile))my=true;
	  if (reg1.test(mobile))my=true;
	  if (reg2.test(mobile))my=true;
	  if (reg3.test(mobile))my=true;
	  if (reg4.test(mobile))my=true;
		 if (!my){ 
			alert('对不起，您输入的手机号码错误。');
		 }  	
	}  
</script>
<% end %>
                        
