<tr class='first_row_class'>
    <td >&nbsp;</td>
    <td class='vendor-name'><span class='vendor_title'><%=link_to h(vendor.name),'#map_canvas',:onclick => "javascript:mappable("+ vendor.id.to_s + ",this)"%></span></td> 
    <td><%= make_score(vendor.taste) %></td> 
	<td><%= make_score(vendor.env) %></td>
    <td><%= make_score(vendor.service) %></td> 	
	<td><span class='rmb'>￥</span><%= vendor.avg.to_i %></td>
	<td><span class='B'><%#= format_discount(vendor) %></span></td>
    <td><span class='B'><%= make_score(vendor.sum) %></span></td>
	<td class="collapsible"></td>
</tr>      
<% if false %>
<tr class="expand-child"> 
  <td>&nbsp;</td>
  <td colspan="5">
  	<div class="bold"><%= vendor.address %><%#=link_to '地图', map_vendor_path(vendor),:target => '_blank' %>&nbsp;<%#=fengdian_link(vendor)%></div> 
  	<div>                    
        电话: <%= vendor.phone%><br/>
          标签: <%= vendor.tags %>
  	</div>
  </td>
  <td colspan='3'>星级:<%= render :partial => 'shared/star',:locals => { :vendor => vendor }%></td>
</tr> 
<tr class="expand-child" id='info-bottom'> 
  <td class='left_border'>&nbsp;</td>
	<td colspan="8" class='right_border'>
		<ul id='opration'>
			<li>收藏</li>
			<li>
			  <% if logged_in? -%>   
			    <%=link_to '预定',new_vendor_booking_path(vendor) %>
			  <% else -%>                     
			   <%=link_to '手机直接预定',new_mobile_users_path(:vendor_id => vendor.id),:rel => 'facybox'  %> 
			  <% end -%>
			<li>
			<li>举报</li>
		</ul>
	</td>
</tr>   
<% end %>
  
