<table border="0" cellspacing="5" cellpadding="5">
<thead>
  <tr>
    <th>filter</th>
    <th>city</th>
    <th>name</th>  
    <th>count</th>
  </tr>
</thead>
<tbody>
  
  <% @categories.each do |cate| %>
  <tr> 
  <td><%=cate.filter%></td> 
  <td><%=cate.city%></td>
  <td><%=cate.name%></td>
  <td><%=cate.vendors_count%></td>    
  </tr>  
  <% end %>              

</tbody>
</table>

<%=link_to '新建分类',new_admin_category_path %> | <%=link_to '重设计数',reset_count_admin_categories_path %>