<% content_for :headers do -%>

<script type="text/javascript" charset="utf-8">
	$(function () {
		var tabContainers = $('div.tabs > div');
		tabContainers.hide().filter(':first').show();
		
		$('div.tabs ul.tabNavigation a').click(function () {
			tabContainers.hide();
			tabContainers.filter(this.hash).show();
			$('div.tabs ul.tabNavigation a').removeClass('selected');
			$(this).addClass('selected');
			return false;
		}).filter(':first').click();
	});
</script>

<% end -%>
<div id="sidebar" class='ui-corner-all'>
  <% @category_filters.sort.each do |filter, categories| %>
    <span class='filter'><%= filter %></span>
    <ul>
    <% for cate in categories %>
        <li>
        <% if @specify_category == cate -%>
          <span class='ag'><%=cate.name%>(<%= cate.vendors_count%>)</span>
        <% else -%>  
          <%=link_to cate.name,category_path(cate) %>(<%= cate.vendors_count%>)
        <% end -%>
        </li>
    <% end %>
    </ul>
  <% end %>
</div>        

<div class="tabs">       
     <ul class="tabNavigation">
         <li><a href="#first"><span>本周首选Top30</span></a></li> 
     </ul>
     <div id="first">
   		<table class='grid tablesorter' cellspacing="0" cellpadding="0" border="0">
   			<colgroup>
   			<col width="3%"/>
   			<col width="42%"/>
   			<col width="8%"/>
   			<col width="8%"/>
   			<col width="8%"/>
   			<col width="8%"/> 
   			<col width="8%"/>
   			<col width="8%"/>
   			<col width="3%"/>
   			</colgroup> 
   		<thead> 
   		<tr>   
      		<th></th> 
   		    <th><span>餐馆名称</span></th> 
   		    <th><span>口味</span></th>
   			  <th><span>环境</span></th> 
   		    <th><span>服务</span></th>  
   		    <th>人均</th>
   			  <th><span>折扣</span></th>
   			  <th><span>总评</span></th>
   			  <th></th>  
   		</tr> 
   		</thead> 
   		 <tbody >
   		  <%= render :partial => '/shared/vendor',:collection => @vendors  %>
   		 </tbody> 
   		 </table>
     </div>
</div>